.profile {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .profile {
    width: 880px;
    display: flex;
    align-items: center;
    margin: 0 auto 50px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
