.form__submit-button {
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  min-width: 238px;
  background: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
  padding: 14px 10px;
  transition: opacity 1s;
}

.form__submit-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) {
  .form__submit-button {
    font-size: 18px;
    line-height: 22px;
    width: 358px;
  }
}
