.form__input-wrapper {
  min-height: 70px;
}

.form__input-wrapper:first-child {
  margin-top: 60px;
}

@media screen and (min-width: 1024px) {
  .form__input-wrapper:first-child {
    margin-top: 30px;
  }
}
