.register__signin {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-family: 'Inter', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
