@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__content/profile__content.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__wrap/profile__wrap.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/photo-cards/photo-cards.css);
@import url(./blocks/photo-card/photo-card.css);
@import url(./blocks/photo-card/__image/photo-card__image.css);
@import url(./blocks/photo-card/__wrap/photo-card__wrap.css);
@import url(./blocks/photo-card/__title/photo-card__title.css);
@import url(./blocks/photo-card/__like-wrapper/photo-card__like-wrapper.css);
@import url(./blocks/photo-card/__like-button/photo-card__like-button.css);
@import url(./blocks/photo-card/__like-counter/photo-card__like-counter.css);
@import url(./blocks/photo-card/__like-button/_active/photo-card__like-button_active.css);
@import url(./blocks/photo-card/__delete-button/photo-card__delete-button.css);
@import url(./blocks/photo-card/__delete-button/_hidden/photo-card__delete-button_hidden.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_view-image/popup_view-image.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_form/popup__container_form.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input-wrapper/form__input-wrapper.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);
@import url(./blocks/form/__input/_type_error/form__input_type_error.css);
@import url(./blocks/form/__submit-button/form__submit-button.css);
@import url(./blocks/form/__submit-button/_inactive/form__submit-button_inactive.css);
@import url(./blocks/popup/__figure/popup__figure.css);
